.my-card{
     box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
     min-width: 350px;
     margin: 0.5rem;
     border-radius: 0.5rem;
     
     
}
.row{
    /* display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    flex-Wrap: wrap;
        gap:16px;
      flex: 1; */
      display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
}
.my-card p{
    margin: 0;
}
/* below name is given from inspect. */
.ant-card-head-title{
 margin: 0rem !important;
 font-weight:600;
}